
/* La petite étoile "*" signifie que le style s'applique à la totalité du site web */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;


}


.navbar {
    background: #131313;
    height:80px; /* Augmentez la hauteur */
    display: flex; /* Permet de rendre les élements du block plus maléable en hauteur/largeur et pour le responsive mobile */
    justify-content:center; /* Alligne les élements au centre de l'axe X */
    align-items: center; /* Alligne les élements au centre de l'axe Y */
    font-size: 1.2rem;
    position: sticky; /* Permet au header de rester en haut même lorsqu'on scroll vers le bas */
    top: 0;
    z-index: 999; /* Permet de passer par dessus tout les autres élements de la page */


}

.navbar__container {

    display: flex;
    justify-content: space-between; /* Ajoutez un espace entre les élements */
    height: 80px;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, rgba(255, 209, 2, 0.067) 100%,);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

