body {
    margin-top:0 !important;
    padding-top:0 !important;
    font-family: "Acrom", sans-serif;
}
a {
    background-color: transparent;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
}

.content:after {
    width: 100%;
    height: 100%;
    background-image: url(images/wrapper-light.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    background-position: center top;
}

.header {
    position: relative;
    z-index: 10;
}

.header:after {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-image: url(images/header-bg-1.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    content: '';
    z-index: 5;
}

.header-menu a span {

    font-weight: 300;
    opacity: 0.6;
    font-size: 10px;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    color: #1a1a1a;
}

.header-menu a {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 25px 5px;
    color: #000;
    font-weight: 700;
    text-align: center;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
    position: relative;
}

.header menu a.active {
    color: black;
}

.header-menu {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: -1px;
}

a {
    background-color: transparent;
}

.header {
    position: relative;
    z-index: 10;
}

.wrapper {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    opacity: 1;
    background-color: #fff;
}


.header-logo {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    margin-left: -30px;
    width: calc(100% + 60px);
}

.header-logo__icon {

    display: flex;
}

.header-logo img {
    max-width: 100%;
    max-height: 100%;
}

.header-logo:after {
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -45px;
    background-image: url(/images/header-logo-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    content: '';
    height: 320px;
    z-index: -1;
    pointer-events: none;
}

.header-top {
    position: relative;
    width: 100%;
    z-index: 10;
}

.header-menu a:last-child {
    border-right: none;
}

.header-mob {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    height: -moz-calc(var(--vh, 1vh) * 100 - 63px);
    height: calc(var(--vh, 1vh) * 100 - 63px);
}

.header-mob.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

@media screen and (max-width: 991px) {
    .header-menu {
      display: none;
    }
  }

.header-menu a:hover, .header-menu a.active {
    color: #000;
}

.header-menu a:hover span, .header-menu a.active span {
    opacity: 1;
}

a {
    background-color: transparent;
}

.header-menu a:hover:before, .header-menu a.active:before {
    -webkit-transform: translate(-50%, -70%) rotate(-45deg);
    -moz-transform: translate(-50%, -70%) rotate(-45deg);
    -ms-transform: translate(-50%, -70%) rotate(-45deg);
    transform: translate(-50%, -70%) rotate(-45deg);
    opacity: 1;
}


.header-menu a:before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -100%) rotate(-45deg);
    -moz-transform: translate(-50%, -100%) rotate(-45deg);
    -ms-transform: translate(-50%, -100%) rotate(-45deg);
    transform: translate(-50%, -100%) rotate(-45deg);
    background-color: #e30712;
    content: '';
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}


.header-menu a:hover:after, .header-menu a.active:after {
    opacity: 1;
    width: 100%;
}

.header-menu a:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #e30712;
    bottom: 0;
    content: '';
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.header-mob .header-menu {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .header-logo {
        width: auto;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-left: 0;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
  }


  @media screen and (max-width: 991px) {
.burger {
    display: block!important;
}
  }
  @media screen and (max-width: 991px) {
  .header-logo:after {
    display: none;
}
}
@media screen and (max-width: 991px) {
.header-top {
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}
}

.burger {
    display: none;
    width: 36px;
    height: 26px;
    position: relative;
    margin-left: auto;
}

.burger:before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #e30712;
    border-radius: 10px;
    content: '';
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.burger span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
    height: 3px;
    background-color: #e30712;
    border-radius: 10px;
}

.burger:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #e30712;
    border-radius: 10px;
    content: '';
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.burger.active:before {
    bottom: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.burger.active:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.header-mob .nicescroll-box {
    max-height: 100%;
}

.header-mob .header-menu a {
    overflow: hidden;
    margin-bottom: -1px;
}

.header-mob.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.burger.active span {
    opacity: 0;
}
